/* @import url('https://fonts.googleapis.com/css?family=Merienda'); */

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #707ba1;
}

#contents {
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.container {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

#name {
    /* font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
    font-family: 'Oleo Script', serif;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #0038ff;
    z-index: 3; 
}

#name, #border {
    position: relative; /* z-index を適用するために必要 */
    z-index: 4; /* canvas と背後の div よりも高い値 */
}

#photo {
    position: relative;
    z-index: 3; 
}

#name img{
    height: 80px;
    vertical-align: middle;
    margin-bottom: 10px;
}

#photo img{
    width: 300px;
    -webkit-user-select: none; /* Chrome, Safari, Opera 用 */
    -moz-user-select: none; /* Firefox 用 */
    -ms-user-select: none; /* Internet Explorer/Edge 用 */
    user-select: none; /* 非プレフィックスバージョン、将来的なブラウザ対応用 */
}

#link {
    font-family: 'Oleo Script', serif;
    font-size: 20px;
    margin-top: 40px;
    position: relative;
    z-index: 200;
}

#link li{
    margin-bottom: 10px;
    z-index: 200;
}

#blue {
    height: 5px;
    background-color: #30baef;
}

#blue2 {
    height: 5px;
    background-color: #60deef;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 2; /* `canvas`を`div`の前面に配置 */
}
