* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    color: #08c;
}

a:hover {
    color: #005580;
}

#contents {
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.container {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

#name {
    font-family: 'Press Start 2P', cursive;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #af006f;
}

#name img{
    height: 80px;
    vertical-align: middle;
    margin-bottom: 10px;
}

#link{
    font-family: 'Oleo Script', serif;
    font-size: 20px;
    margin-top: 40px;
}

#link li{
    margin-bottom: 10px;
}

#blue {
    height: 5px;
    background-color: #30baef;
}

#blue2 {
    height: 5px;
    background-color: #60deef;
}
